.app-page {
  @include make-container();
  @include make-container-max-widths();
    padding: 1rem;
    @include media-breakpoint-up(sm) {
        margin-bottom: 1rem;
    }
    h1, h2, h3, h4, h5 {
      text-transform: uppercase;
      color: $app-gray;
    }
}

.app-page {
    @include media-breakpoint-up(sm) {
        margin-top: 0;
        margin-bottom: 1rem;
        @include when-inside('.template-search') {
          margin-top: 1rem;
        }
    }
    @include when-inside('.template-frontpage-view') {
        background: transparent;
    }

    td {
      padding: 1rem;
    }
}



.app-page-headline,
.app-page-title,
.app-page__headline {
  font-size: 1.5rem;
  font-weight: 700;
  margin-bottom: 1rem;
  margin-top: 1rem;
  text-transform: uppercase;
  color: $app-primary !important;
  @include media-breakpoint-up(sm) {
    margin-top: 0rem;
  }

  @include media-breakpoint-up(lg) {
    font-size: 1.6rem !important;
    margin-top: 0rem;
  }
}

.app-page-abstract,
.app-page__abstract {
  text-transform: none;
  font-size: 1rem;
  //background: $app-secondary;
  //padding: 1rem;
  color: $gray-500;

}

// Lead image margin
.app-page-leadimage {
  margin-bottom: 2rem;
}

// DEPRECATED
// Page image container
.app-page-image-container {
  margin-bottom: 0;
}

.app-page-text,
#parent-fieldname-text {
  ul {
    list-style: none;
    padding-left: 0;
  }
  ol {
    padding-left: 0;
    list-style-position: inside;
  }
  //li:before {
  //  content: "• ";
  //  display: inline;
  //}
  a {
    font-weight: 500;
  }
  h1 {
    font-size: 1.6rem;
    //font-weight: 700;
  }
  h2 {
    font-size: 1.4rem;
    //font-weight: 700;
  }
  h3 {
    font-size: 1.2rem;
    //font-weight: 700;
  }
}

.app-page-block {
  @include make-row();
  margin-right: 0;
  margin-left: 0;
}

.app-page-block-content-1 {
  @include make-col(12);
  @include media-breakpoint-up(sm) {
    @include make-col(1);
  }
}

.app-page-block-content-2 {
  @include make-col(12);
  @include media-breakpoint-up(sm) {
    @include make-col(2);
  }
}

.app-page-block-content-3 {
  @include make-col(12);
  @include media-breakpoint-up(sm) {
    @include make-col(3);
  }
}

.app-page-block-content-4 {
  @include make-col(12);
  @include media-breakpoint-up(sm) {
    @include make-col(4);
  }
}

.app-page-block-content-5 {
  @include make-col(12);
  @include media-breakpoint-up(sm) {
    @include make-col(5);
  }
}

.app-page-block-content-6 {
  @include make-col(12);
  @include media-breakpoint-up(sm) {
    @include make-col(6);
  }
}

.app-page-block-content-7 {
  @include make-col(12);
  @include media-breakpoint-up(sm) {
    @include make-col(7);
  }
}

.app-page-block-content-8 {
  @include make-col(12);
  @include media-breakpoint-up(sm) {
    @include make-col(8);
  }
}

.app-page-block-content-9 {
  padding: 1rem;
  @include make-col(12);
  @include media-breakpoint-up(sm) {
    @include make-col(9);
  }
}

.app-page-block-content-10 {
  @include make-col(12);
  @include media-breakpoint-up(sm) {
    @include make-col(10);
  }
}

.app-page-block-content-11 {
  @include make-col(12);
  @include media-breakpoint-up(sm) {
    @include make-col(11);
  }
}

.app-page-block-content-12 {
  @include make-col(12);
  @include media-breakpoint-up(sm) {
    @include make-col(12);
  }
}

.btn-primary {
  background: $app-secondary;
  border-color: $app-secondary !important;
  color: #fff !important;
}

//
// Content specific image and media styles
//
// Should be removed or refacored to use proper base classes
// e.g. app-img
// Note: classes can easily be changed using the diazo transform chain
// or the tinymce configuration
.app-img {
  @extend .img-fluid;
  width: 100%;
}

.image-inline {
  @extend .img-fluid;
}

.image-left {
  @extend .img-fluid;
}

// Responsive embeds
.app-page-embed {
  @extend .embed-responsive;
  margin-bottom: 1rem;
}

// DEPRECATED
// Should be replaced with the more generic
// .app-page-embed class
.embed-responsive {
  margin-bottom: 1rem;
}
