<footer class="app-footer" id="app-footer" role="contentinfo">
    <div class="app-footer-content">
        <div class="app-copyright">
            <p>&copy; <strong>Der <span class="app-secondary">Grüne</span> Raum</strong> {{ site.time | date: '%Y' }} &middot;
                <a href="{{ page.base_url }}">Startseite</a> &middot;
                <a href="{{ page.base_url }}impressum">Impressum</a> &middot;
                <a href="{{ page.base_url }}datenschutzerklaerung">Datenschutz</a> &middot;
                <a href="{{ page.base_url }}kontakt-osteopathie-feldenkrais-yoga">Kontakt</a> &middot;
                <a href="https://www.facebook.com/Der-Gr%C3%BCne-Raum-127722037240713">
                	<i class="ion ion-logo-facebook" aria-hidden="true"></i>
                </a> &middot;
                Site by <a href="https://kreativkombinat.de">KK</a>
            </p>
        </div>
    </div>
</footer>
